# Introduction to Scikit-Learn (sklearn)

This notebook demonstrate some of the most useful functions of the 
beautiful Scikit-Learn library.

What we're going to cover:

In [1]:
what_were_covering = [
    ''' 0. An end-to-end Scikit-Learn workflow
        1. Getting the data ready
        2. Choose the right estimator/algorithm for our problems
        3. Fit the model/algorithm and use to make on our predictions on our data
        4. Evaluating a model
        5. Improve a model
        6. Save and load a trained model
        7. Putting it all together''']

## 0. An end-to-end Scikit-Learn workflow

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
#1. Get the data ready
heart_disease=pd.read_csv("data/heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create x (features matrix)
x = heart_disease.drop("target", axis=1) #axis=1 means column axis(you can also write axis=columns)
                                         #axis=0 means
# Create y (labels)
y = heart_disease["target"]

In [3]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

#We,ll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [4]:
#3. Fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [5]:
clf.fit(x_train, y_train); #fit() method training data as argument 
                           #(use to train the model)

In [6]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
108,50,0,1,120,244,0,1,162,0,1.1,2,0,2
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
240,70,1,2,160,269,0,1,112,1,2.9,1,1,3
62,52,1,3,118,186,0,0,190,0,0.0,1,0,1
211,61,1,0,120,260,0,1,140,1,3.6,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
239,35,1,0,126,282,0,0,156,1,0.0,2,0,3
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
279,61,1,0,138,166,0,0,125,1,3.6,1,1,2
130,54,0,2,160,201,0,1,163,0,0.0,2,1,2

In [7]:
# make a prediction
y_label = clf.predict(np.array([0,2,3,4]))

C:\users\paswa\documents\ML_Course\sample_project_1\ML-Learning\env\lib\site-packages\sklearn\base.py:409: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=[0. 2. 3. 4.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [8]:
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
241,59,0,0,174,249,0,1,143,1,0.0,1,0,2
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3
162,41,1,1,120,157,0,1,182,0,0.0,2,0,2
13,64,1,3,110,211,0,0,144,1,1.8,1,0,2
191,58,1,0,128,216,0,0,131,1,2.2,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2
22,42,1,0,140,226,0,1,178,0,0.0,2,0,2
120,64,0,0,130,303,0,1,122,0,2.0,1,2,2
255,45,1,0,142,309,0,0,147,1,0.0,1,3,3

In [9]:
y_preds = clf.predict(x_test) #For prediction of y it will need x
y_preds

array([0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0], dtype=int64)

In [10]:
y_test

241    0
37     1
162    1
13     1
191    0
      ..
299    0
148    1
22     1
120    1
255    0
Name: target, Length: 61, dtype: int64

In [11]:
# 4. Evaluate the model
clf.score(x_train, y_train) #Model is trained on training data thus it will
                            #score 100%

1.0

In [12]:
clf.score(x_test, y_test) #score of testing data set which model has never seen

0.8852459016393442

In [13]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.88      0.85      0.86        26
           1       0.89      0.91      0.90        35

    accuracy                           0.89        61
   macro avg       0.88      0.88      0.88        61
weighted avg       0.89      0.89      0.88        61

In [14]:
confusion_matrix(y_test, y_preds)

array([[22,  4],
       [ 3, 32]], dtype=int64)

In [15]:
accuracy_score(y_test, y_preds)

0.8852459016393442

In [18]:
# 5. Improve a model
# Try different amount of n_estimators #(By default estimators/hyperparameters 
                                       #value in this version is set to 100)

np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test,y_test) * 100:.2f}%")

Trying model with 10 estimators...
Model accuracy on test set: 85.25%
Trying model with 20 estimators...
Model accuracy on test set: 85.25%
Trying model with 30 estimators...
Model accuracy on test set: 80.33%
Trying model with 40 estimators...
Model accuracy on test set: 81.97%
Trying model with 50 estimators...
Model accuracy on test set: 88.52%
Trying model with 60 estimators...
Model accuracy on test set: 90.16%
Trying model with 70 estimators...
Model accuracy on test set: 88.52%
Trying model with 80 estimators...
Model accuracy on test set: 86.89%
Trying model with 90 estimators...
Model accuracy on test set: 88.52%

In [19]:
#6. Save a model and load it
import pickle

pickle.dump(clf, open("random_forest_model_1.pkl", "wb")) #wb is write binary

In [21]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8852459016393442

## 1. Getting the data ready to be used with machine learning

Three main things we have to do:

    1. Split the data into features and labels (usually 'x' & 'y')           
    2. Filling (also called imputing) or disregarding missing values         
    3. Converting non-numerical values to numerical values (also called              feature encoding)

In [5]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [7]:
x = heart_disease.drop("target", axis=1)
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [8]:
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [9]:
# Split the data into training and test_sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

### 1.1 Make sure it's all numerical

In [12]:
car_sales = pd.read_csv("data/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [13]:
len(car_sales)

1000

In [15]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [19]:
# Split into x/y
x = car_sales.drop("Price",axis=1)
y = car_sales["Price"]

# Split into training and test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [21]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(x_train, y_train)
model.score(x_test, y_test)

ValueError: could not convert string to float: 'Toyota'

In [24]:
car_sales["Doors"].value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

In [26]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"] #being numeric, doors are 
                                                   #categorical as diff number 
                                                   #of doors has diff count
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("One_hot",
                                 one_hot,
                                 categorical_features)],
                                 remainder="passthrough") #("passthrough" means rest of the columns not mentioned in cat_features, dont do anything to it

transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [27]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [28]:
pd.DataFrame(transformed_x) #All data is now numerical
                            #odometer column has not changed, as we wanted

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [30]:
#Another way of turning data numeric

dummies = pd.get_dummies(car_sales[["Make","Colour", "Doors"]])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [36]:
#Let's refit the model
np.random.seed(42)
x_train, x_test, y_train, y_test = train_test_split(transformed_x, 
                                                    y,
                                                    test_size=0.2)

model.fit(x_train, y_train);

In [37]:
model.score(x_test, y_test)

0.3235867221569877

In [48]:
import sklearn
print(sklearn.__version__)

1.2.0